body {
    flex-direction: row;
    flex-wrap: wrap;
}
header {
    flex-basis: 100vw;
    background-color: darkgreen;
    background-image: url(../images/hero-image-forest2.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;

}
header h1 {
    align-self: center;
    justify-self: flex-start;
    flex-grow: 1;
    font-size: 250%;
    margin-left: 2em;
}

aside {
    background-color: #555;
    margin: 2em .5em;
    border: 3px double #aaa;
    border-radius: 10px;
    flex: 1 2 20vw;
    align-self: flex-start;
    position: sticky;
    top: 25px;
}

/* Filters */
form h5 {
    margin: .5em;
    font-size: 120%;
}
.form-element {
    padding: .5em;
}
.form-element input[type="text"] {
    padding: .5em .25em;
    background-color: #bbb;
    width: 80%;
    border-radius: 5px;
}
.form-element input[type="text"]:focus {
    background-color: white;
}
.form-element input[type="checkbox"] {
    accent-color: red;
}
.form-element input {
    margin: .5em;
}
.form-element:hover {
    background-color: #555;
}
.form-buttons {
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.form-buttons input {
    padding: .5em .75em;
    border-radius: 5px;
    background-color: aliceblue;
    border: 3px solid #333;
    color: #333;
    font-weight: bold;
}
.form-buttons input:hover {
    background-color: black;
    color: fuchsia;
    border: 3px solid fuchsia;
}

.products {
    flex: 2 1 75vw;
}
.product {
    background-color: #303235;
    display: grid;
    grid-template-columns: 22% 78%;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    border: 3px double #aaa;
    border-radius: 10px;
    padding: .5em;
    grid-template-areas: 
    'thumbnail product-title'
    'thumbnail product-description'
    'thumbnail product-price';
    align-items: center;
    margin: 2em;
    text-decoration: none;
    color: aliceblue;
    transition: all ease-in-out 200ms;
    /* background-color: red; */

}
.product:hover {
    border: 3px double #fff;
    box-shadow: 3px 3px 12px 3px gray;
    background-color: #555;
}
.thumbnail {
    grid-area: thumbnail;
    justify-self: center;
    border: 3px double #aaa;
    border-radius: 10px;
    max-width: 150px;

}
.product-title {
    grid-area: product-title;
    text-decoration: underline;
}
.product-description {
    grid-area: product-description;    
}
.product-price {
    grid-area: product-price;
}

@media (max-width: 600px) {
    header h1 {
        text-align: center;
        margin: 0;
    }
    .products, .product {
        grid-template-columns: 1fr;
        max-width: 100%;

    }
    aside {
        position: relative;
        margin-bottom: 30px;
    }
    .form-element input[type="text"] {
        width: 95%;
    }
    .products {
        gap: 1em;
    }
    .product {
        grid-template-areas: 
        'thumbnail'
        'product-title'
        'product-description'
        'product-price';
        justify-items: center;
        margin: .5em 0;
        border: none;
        border-radius: 0;
        border-top: 3px double #aaa;
        border-bottom: 3px double #aaa;
        
    
    
    }
}