header {
    background-color: darkgreen;
    background-image: url(../images/hero-image-forest2.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;

}
header h1 {
    align-self: center;
    justify-self: flex-start;
    flex-grow: 1;
    font-size: 250%;
    margin-left: 2em;
}
.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.testimonial {
    width: 27vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em;
    padding: .5em;
    transition: all ease-in-out 200ms;
    border-radius: 15px;
    /* outline: 1px solid aliceblue;
    outline-offset: .35em;
    border-radius: 5px; */

}
.testimonial img {
    max-width: 200px;
    border-radius: 50%;
}
.testimonial h3 {
    text-transform: capitalize;
}
.testimonial:hover {
    background-color: #555;
}
@media (max-width: 820px) {
    body {
        flex-direction: row;
    }
}

@media (max-width: 600px) {

    header h1 {
        text-align: center;
        margin: 0;
    }
    .testimonial {
        width: 90vw;
    }
}